## Problem Set 11

First the exercise:
* What is the maximum depth of a decision tree trained on $N$ samples?
The decision tree must make a proper split at each node, so the size of each node must reduce by at least one as we move down one level. So the maximum depth of a  decision tree is $N-1$.
* If we train a decision tree to an arbitrary depth, what will be the training error?
Assuming the training data assigns unique labels to samples with identical features, this will be Zero. If we train a decision tree to arbitrary depth we will end up with a tree where each node contains samples with identical features. If each of these samples has the same label than any of the standard rules (voting, averaging) will return the correct response.
* How can we alter a loss function to help regularize a decision tree?
One of the simplest ways is to add to our loss function an increasing function of the depth of the node. For example, we could just add $\lambda |D|$ or perhaps $\lambda 2^|D|$ where $\lambda$ is an appropriate hyperparameter (probably very small). One should choose so that growth of this regularization term so that it will not dominate the unregularized cost function when obtaining improvements at the desired rate. 

### Python Lab

Now let us load our standard libraries.

In [1]:
import numpy as np
import pandas as pd

Let us load the credit card dataset and extract a small dataframe of numerical features to test on.

In [26]:
big_df = pd.read_csv("UCI_Credit_Card.csv")

In [28]:
big_df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [29]:
len(big_df)

30000

In [30]:
len(big_df.dropna())

30000

In [31]:
df = big_df.drop(labels = ['ID'], axis = 1)

In [40]:
labels = df['default.payment.next.month']
df.drop('default.payment.next.month', axis = 1, inplace = True)

In [41]:
num_samples = 25000

In [42]:
train_x, train_y = df[0:num_samples], labels[0:num_samples]

In [43]:
test_x, test_y = df[num_samples:], labels[num_samples:]

In [48]:
test_x.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
25000,410000.0,1,1,1,38,-1,-1,-1,-1,-2,...,35509.0,0.0,0.0,0.0,0.0,35509.0,0.0,0.0,0.0,0.0
25001,260000.0,1,2,2,35,0,0,0,0,0,...,297313.0,276948.0,2378.0,-2709.0,12325.0,6633.0,6889.0,1025.0,2047.0,194102.0
25002,50000.0,1,2,1,40,0,0,0,0,0,...,11353.0,12143.0,11753.0,11922.0,1200.0,4000.0,2000.0,2000.0,1000.0,1000.0
25003,360000.0,1,3,1,37,-1,-1,-1,-2,-2,...,0.0,0.0,0.0,0.0,303.0,0.0,0.0,0.0,0.0,860.0
25004,50000.0,1,3,1,49,0,0,0,0,0,...,50076.0,48995.0,19780.0,15102.0,2000.0,5000.0,2305.0,3000.0,559.0,3000.0

In [114]:
train_y.head()

0    1
1    1
2    0
3    0
4    0
Name: default.payment.next.month, dtype: int64

Now let us write our transformation function.

In [196]:
class bin_transformer(object):
    
    def __init__(self, df, num_quantiles = 2):
        self.quantiles = [None]*(num_quantiles-1)
        for ix,q in enumerate(np.linspace(1./num_quantiles,1.,num_quantiles-1)):
            self.quantiles[ix] = df.quantile(q)
            
    
    def transform(self, df):
        new = pd.DataFrame()
        fns = {}
        for col_name in df.axes[1]:
            for ix, q in enumerate(self.quantiles):
                quart = q[col_name]
                new[col_name+str(ix)] = (df[col_name] >= quart)
                fns[col_name+str(ix)] =(col_name, lambda x: x[col_name]>=quart)
        return new, fns

In [176]:
transformer = bin_transformer(df,5)

In [178]:
train_x_t, tr_fns = transformer.transform(train_x)

In [179]:
test_x_t, test_fns = transformer.transform(test_x)

In [181]:
train_x_t.head()

,LIMIT_BAL0,LIMIT_BAL1,LIMIT_BAL2,LIMIT_BAL3,SEX0,SEX1,SEX2,SEX3,EDUCATION0,EDUCATION1,...,PAY_AMT42,PAY_AMT43,PAY_AMT50,PAY_AMT51,PAY_AMT52,PAY_AMT53,PAY_AMT60,PAY_AMT61,PAY_AMT62,PAY_AMT63
0,False,False,False,False,True,True,True,True,True,True,...,False,False,True,False,False,False,True,False,False,False
1,True,False,False,False,True,True,True,True,True,True,...,False,False,True,False,False,False,True,True,False,False
2,True,False,False,False,True,True,True,True,True,True,...,False,False,True,False,False,False,True,True,True,False
3,True,False,False,False,True,True,True,True,True,True,...,False,False,True,False,False,False,True,False,False,False
4,True,False,False,False,True,False,False,False,True,True,...,True,False,True,False,False,False,True,False,False,False

In [182]:
tr_fns

{'AGE0': ('AGE',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'AGE1': ('AGE',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'AGE2': ('AGE',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'AGE3': ('AGE',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT10': ('BILL_AMT1',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT11': ('BILL_AMT1',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT12': ('BILL_AMT1',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT13': ('BILL_AMT1',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT20': ('BILL_AMT2',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT21': ('BILL_AMT2',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT22': ('BILL_AMT2',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT23': ('BILL_AMT2',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT30': ('BILL_AMT3',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT31': ('BILL_AMT3',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT32': ('BILL_AMT3',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT33': ('BILL_AMT3',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT40': ('BILL_AMT4',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT41': ('BILL_AMT4',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT42': ('BILL_AMT4',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT43': ('BILL_AMT4',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT50': ('BILL_AMT5',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT51': ('BILL_AMT5',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT52': ('BILL_AMT5',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT53': ('BILL_AMT5',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT60': ('BILL_AMT6',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT61': ('BILL_AMT6',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT62': ('BILL_AMT6',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'BILL_AMT63': ('BILL_AMT6',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'EDUCATION0': ('EDUCATION',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'EDUCATION1': ('EDUCATION',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'EDUCATION2': ('EDUCATION',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'EDUCATION3': ('EDUCATION',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'LIMIT_BAL0': ('LIMIT_BAL',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'LIMIT_BAL1': ('LIMIT_BAL',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'LIMIT_BAL2': ('LIMIT_BAL',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'LIMIT_BAL3': ('LIMIT_BAL',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'MARRIAGE0': ('MARRIAGE',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'MARRIAGE1': ('MARRIAGE',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'MARRIAGE2': ('MARRIAGE',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'MARRIAGE3': ('MARRIAGE',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_00': ('PAY_0',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_01': ('PAY_0',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_02': ('PAY_0',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_03': ('PAY_0',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_20': ('PAY_2',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_21': ('PAY_2',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_22': ('PAY_2',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_23': ('PAY_2',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_30': ('PAY_3',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_31': ('PAY_3',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_32': ('PAY_3',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_33': ('PAY_3',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_40': ('PAY_4',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_41': ('PAY_4',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_42': ('PAY_4',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_43': ('PAY_4',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_50': ('PAY_5',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_51': ('PAY_5',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_52': ('PAY_5',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_53': ('PAY_5',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_60': ('PAY_6',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_61': ('PAY_6',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_62': ('PAY_6',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_63': ('PAY_6',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT10': ('PAY_AMT1',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT11': ('PAY_AMT1',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT12': ('PAY_AMT1',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT13': ('PAY_AMT1',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT20': ('PAY_AMT2',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT21': ('PAY_AMT2',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT22': ('PAY_AMT2',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT23': ('PAY_AMT2',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT30': ('PAY_AMT3',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT31': ('PAY_AMT3',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT32': ('PAY_AMT3',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT33': ('PAY_AMT3',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT40': ('PAY_AMT4',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT41': ('PAY_AMT4',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT42': ('PAY_AMT4',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT43': ('PAY_AMT4',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT50': ('PAY_AMT5',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT51': ('PAY_AMT5',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT52': ('PAY_AMT5',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT53': ('PAY_AMT5',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT60': ('PAY_AMT6',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT61': ('PAY_AMT6',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT62': ('PAY_AMT6',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'PAY_AMT63': ('PAY_AMT6',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'SEX0': ('SEX',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'SEX1': ('SEX',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'SEX2': ('SEX',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>),
 'SEX3': ('SEX',
  <function __main__.bin_transformer.transform.<locals>.<lambda>>)}

Now let us build some simple loss functions for 1d labels.

In [160]:
def bdd_cross_entropy(pred, label):
    return -np.mean(label*np.log(pred+10**(-20)))

In [161]:
def MSE(pred,label):
    return np.mean((pred-label)**2)

In [162]:
def acc(pred,label):
    return np.mean((pred>=0.5)==(label == 1))

Now let us define the find split function.

In [184]:
def find_split(x, y, loss, verbose = False):
    min_ax = None
    base_loss = loss(np.mean(y),y) 
    min_loss = base_loss
    N = len(x)
    for col_name in x.axes[1]:
        mask = x[col_name]
        num_pos = np.sum(mask)
        num_neg = N - num_pos
        pos_y = np.mean(y[mask])
        neg_y = np.mean(y[~mask])
        l = (num_pos*loss(pos_y, y[mask]) + num_neg*loss(neg_y, y[~mask]))/N
        if verbose:
            print("Column {0} split has improved loss {1}".format(col_name, base_loss-l))
        if l < min_loss:
            min_loss = l
            min_ax = col_name
    return min_ax, min_loss

In [185]:
find_split(train_x_t, train_y, MSE, verbose = True)

Column LIMIT_BAL0 split has improved loss 0.0032026111833937665
Column LIMIT_BAL1 split has improved loss 0.0038879427292773105
Column LIMIT_BAL2 split has improved loss 0.0022416992324077734
Column LIMIT_BAL3 split has improved loss 1.991381031213324e-06
Column SEX0 split has improved loss nan
Column SEX1 split has improved loss 0.0002155159725325817
Column SEX2 split has improved loss 0.0002155159725325817
Column SEX3 split has improved loss 0.0002155159725325817
Column EDUCATION0 split has improved loss 2.3907091916103296e-05
Column EDUCATION1 split has improved loss 0.0004640208803457502
Column EDUCATION2 split has improved loss 0.0004640208803457502
Column EDUCATION3 split has improved loss 1.6813173923713176e-05
Column MARRIAGE0 split has improved loss 3.249086770407139e-05
Column MARRIAGE1 split has improved loss 0.00014480802024710582
Column MARRIAGE2 split has improved loss 0.00014480802024710582
Column MARRIAGE3 split has improved loss 1.6656260906328102e-05
Column AGE0 split has improved loss 0.00020827243409601848
Column AGE1 split has improved loss 2.639969658074781e-06
Column AGE2 split has improved loss 8.576427293180422e-05
Column AGE3 split has improved loss 1.991381031213324e-06
Column PAY_00 split has improved loss 0.0008308647297025351
Column PAY_01 split has improved loss 0.0015859674093304799
Column PAY_02 split has improved loss 0.0015859674093304799
Column PAY_03 split has improved loss 7.962697841465416e-05
Column PAY_20 split has improved loss 0.0001876302154459608
Column PAY_21 split has improved loss 0.0013149408868615708
Column PAY_22 split has improved loss 0.0013149408868615708
Column PAY_23 split has improved loss 1.991381031213324e-06
Column PAY_30 split has improved loss 0.00021161990136722708
Column PAY_31 split has improved loss 0.0014198151850400298
Column PAY_32 split has improved loss 0.0014198151850400298
Column PAY_33 split has improved loss 6.133493431426107e-06
Column PAY_40 split has improved loss 0.00014702668290195176
Column PAY_41 split has improved loss 0.00110110252994014
Column PAY_42 split has improved loss 0.00110110252994014
Column PAY_43 split has improved loss 6.133493431426107e-06
Column PAY_50 split has improved loss 0.00011619585491220996
Column PAY_51 split has improved loss 0.0010161714350968298
Column PAY_52 split has improved loss 0.0010161714350968298
Column PAY_53 split has improved loss 2.414266708269941e-05
Column PAY_60 split has improved loss 8.712841444399877e-05
Column PAY_61 split has improved loss 0.0008042740411955129
Column PAY_62 split has improved loss 0.0008042740411955129
Column PAY_63 split has improved loss 4.8287265733276685e-05
Column BILL_AMT10 split has improved loss 2.7784178714379548e-05
Column BILL_AMT11 split has improved loss 6.076903966692471e-05
Column BILL_AMT12 split has improved loss 0.0001645240473267251
Column BILL_AMT13 split has improved loss 1.991381031213324e-06
Column BILL_AMT20 split has improved loss 3.084283179743963e-06
Column BILL_AMT21 split has improved loss 3.027104024028171e-06
Column BILL_AMT22 split has improved loss 0.000122081740660418
Column BILL_AMT23 split has improved loss 1.991381031213324e-06
Column BILL_AMT30 split has improved loss 1.2923238124601388e-05
Column BILL_AMT31 split has improved loss 1.3408941547110587e-06
Column BILL_AMT32 split has improved loss 0.00011219067307610686
Column BILL_AMT33 split has improved loss 1.991381031213324e-06
Column BILL_AMT40 split has improved loss 1.5757691495227322e-05
Column BILL_AMT41 split has improved loss 2.8787400102370242e-05
Column BILL_AMT42 split has improved loss 6.160228494539455e-05
Column BILL_AMT43 split has improved loss 1.991381031213324e-06
Column BILL_AMT50 split has improved loss 2.5681591047099772e-05
Column BILL_AMT51 split has improved loss 4.1500621324186415e-05
Column BILL_AMT52 split has improved loss 6.188688031738554e-05
Column BILL_AMT53 split has improved loss 1.991381031213324e-06
Column BILL_AMT60 split has improved loss 1.1070212941444169e-05
Column BILL_AMT61 split has improved loss 9.106832125510556e-05
Column BILL_AMT62 split has improved loss 3.2864096320028846e-05
Column BILL_AMT63 split has improved loss 1.991381031213324e-06
Column PAY_AMT10 split has improved loss 0.0037338214207645604
Column PAY_AMT11 split has improved loss 0.002615192996418908
Column PAY_AMT12 split has improved loss 0.0027015861221446613
Column PAY_AMT13 split has improved loss nan
Column PAY_AMT20 split has improved loss 0.0026740961203186864
Column PAY_AMT21 split has improved loss 0.0024195262866064937
Column PAY_AMT22 split has improved loss 0.0024775775435614267
Column PAY_AMT23 split has improved loss 1.991381031213324e-06
Column PAY_AMT30 split has improved loss 0.002428229767294232
Column PAY_AMT31 split has improved loss 0.0018570249571221165
Column PAY_AMT32 split has improved loss 0.0017512710077141336
Column PAY_AMT33 split has improved loss 1.991381031213324e-06
Column PAY_AMT40 split has improved loss nan
Column PAY_AMT41 split has improved loss 0.0018021602062950892
Column PAY_AMT42 split has improved loss 0.0017440894764485237
Column PAY_AMT43 split has improved loss nan
Column PAY_AMT50 split has improved loss nan
Column PAY_AMT51 split has improved loss 0.0014610104558192283
Column PAY_AMT52 split has improved loss 0.0015193446867131921
Column PAY_AMT53 split has improved loss nan
Column PAY_AMT60 split has improved loss nan
Column PAY_AMT61 split has improved loss 0.0015643462897852456
Column PAY_AMT62 split has improved loss 0.0018578541168604579
Column PAY_AMT63 split has improved loss 1.991381031213324e-06

('LIMIT_BAL1', 0.16944952287072268)

In [186]:
find_split(train_x_t, train_y, bdd_cross_entropy, verbose = True)

Column LIMIT_BAL0 split has improved loss 0.006244357785518517
Column LIMIT_BAL1 split has improved loss 0.008711301876880462
Column LIMIT_BAL2 split has improved loss 0.005472328942544402
Column LIMIT_BAL3 split has improved loss 8.924978500690628e-06
Column SEX0 split has improved loss nan
Column SEX1 split has improved loss 0.000478882743748521
Column SEX2 split has improved loss 0.000478882743748521
Column SEX3 split has improved loss 0.000478882743748521
Column EDUCATION0 split has improved loss 0.00010712331165202427
Column EDUCATION1 split has improved loss 0.0010626803920600336
Column EDUCATION2 split has improved loss 0.0010626803920600336
Column EDUCATION3 split has improved loss 4.5160851918912837e-05
Column MARRIAGE0 split has improved loss 9.449539629236003e-05
Column MARRIAGE1 split has improved loss 0.0003235515454700355
Column MARRIAGE2 split has improved loss 0.0003235515454700355
Column MARRIAGE3 split has improved loss 3.5359652165056765e-05
Column AGE0 split has improved loss 0.00045063398379679986
Column AGE1 split has improved loss 5.918981378805199e-06
Column AGE2 split has improved loss 0.00018956396451885738
Column AGE3 split has improved loss 8.924978500690628e-06
Column PAY_00 split has improved loss 0.0021629026258340733
Column PAY_01 split has improved loss 0.003805822744091303
Column PAY_02 split has improved loss 0.003805822744091303
Column PAY_03 split has improved loss 0.00012567847096278673
Column PAY_20 split has improved loss 0.00044207846768945513
Column PAY_21 split has improved loss 0.0030877995914350698
Column PAY_22 split has improved loss 0.0030877995914350698
Column PAY_23 split has improved loss 8.924978500690628e-06
Column PAY_30 split has improved loss 0.0004986072730888136
Column PAY_31 split has improved loss 0.0033351490128339933
Column PAY_32 split has improved loss 0.0033351490128339933
Column PAY_33 split has improved loss 1.0126633826934572e-05
Column PAY_40 split has improved loss 0.0003427200072994574
Column PAY_41 split has improved loss 0.0025707625012661994
Column PAY_42 split has improved loss 0.0025707625012661994
Column PAY_43 split has improved loss 1.0126633826934572e-05
Column PAY_50 split has improved loss 0.0002692472818148217
Column PAY_51 split has improved loss 0.002366060338703957
Column PAY_52 split has improved loss 0.002366060338703957
Column PAY_53 split has improved loss 2.8928785624049436e-05
Column PAY_60 split has improved loss 0.00020057958807429
Column PAY_61 split has improved loss 0.001855783455583515
Column PAY_62 split has improved loss 0.001855783455583515
Column PAY_63 split has improved loss 5.7861900391531496e-05
Column BILL_AMT10 split has improved loss 6.15396194512674e-05
Column BILL_AMT11 split has improved loss 0.00013599027208327508
Column BILL_AMT12 split has improved loss 0.0003766772463256185
Column BILL_AMT13 split has improved loss 8.924978500690628e-06
Column BILL_AMT20 split has improved loss 6.884612905377896e-06
Column BILL_AMT21 split has improved loss 6.781117005860704e-06
Column BILL_AMT22 split has improved loss 0.00027862943046041977
Column BILL_AMT23 split has improved loss 8.924978500690628e-06
Column BILL_AMT30 split has improved loss 2.8729599175325582e-05
Column BILL_AMT31 split has improved loss 3.005612971396232e-06
Column BILL_AMT32 split has improved loss 0.0002558669848518602
Column BILL_AMT33 split has improved loss 8.924978500690628e-06
Column BILL_AMT40 split has improved loss 3.500273705653312e-05
Column BILL_AMT41 split has improved loss 6.458653607621656e-05
Column BILL_AMT42 split has improved loss 0.00013985851423192752
Column BILL_AMT43 split has improved loss 8.924978500690628e-06
Column BILL_AMT50 split has improved loss 5.691474059266177e-05
Column BILL_AMT51 split has improved loss 9.313852184772431e-05
Column BILL_AMT52 split has improved loss 0.0001404797068325081
Column BILL_AMT53 split has improved loss 8.924978500690628e-06
Column BILL_AMT60 split has improved loss 2.4625912706244257e-05
Column BILL_AMT61 split has improved loss 0.00020454680397341551
Column BILL_AMT62 split has improved loss 7.433401145018337e-05
Column BILL_AMT63 split has improved loss 8.924978500690628e-06
Column PAY_AMT10 split has improved loss 0.007477302239917105
Column PAY_AMT11 split has improved loss 0.005796159645951593
Column PAY_AMT12 split has improved loss 0.006672553157392513
Column PAY_AMT13 split has improved loss nan
Column PAY_AMT20 split has improved loss 0.005438621387507281
Column PAY_AMT21 split has improved loss 0.0053979571169944784
Column PAY_AMT22 split has improved loss 0.00611844484675067
Column PAY_AMT23 split has improved loss 8.924978500690628e-06
Column PAY_AMT30 split has improved loss 0.0049615445353026755
Column PAY_AMT31 split has improved loss 0.004162399988300203
Column PAY_AMT32 split has improved loss 0.004250843188795483
Column PAY_AMT33 split has improved loss 8.924978500690628e-06
Column PAY_AMT40 split has improved loss nan
Column PAY_AMT41 split has improved loss 0.004030633717644783
Column PAY_AMT42 split has improved loss 0.0042271266798871165
Column PAY_AMT43 split has improved loss nan
Column PAY_AMT50 split has improved loss nan
Column PAY_AMT51 split has improved loss 0.003264342139994436
Column PAY_AMT52 split has improved loss 0.0036582155495733515
Column PAY_AMT53 split has improved loss nan
Column PAY_AMT60 split has improved loss nan
Column PAY_AMT61 split has improved loss 0.003499665977564348
Column PAY_AMT62 split has improved loss 0.0045184562151976415
Column PAY_AMT63 split has improved loss 8.924978500690628e-06

('LIMIT_BAL1', 0.32597885804022653)

In [187]:
find_split(train_x_t, train_y, acc, verbose = True)

Column LIMIT_BAL0 split has improved loss 0.0
Column LIMIT_BAL1 split has improved loss 0.0
Column LIMIT_BAL2 split has improved loss 0.0
Column LIMIT_BAL3 split has improved loss 0.0
Column SEX0 split has improved loss nan
Column SEX1 split has improved loss 0.0
Column SEX2 split has improved loss 0.0
Column SEX3 split has improved loss 0.0
Column EDUCATION0 split has improved loss 0.0
Column EDUCATION1 split has improved loss 0.0
Column EDUCATION2 split has improved loss 0.0
Column EDUCATION3 split has improved loss 0.0
Column MARRIAGE0 split has improved loss 0.0
Column MARRIAGE1 split has improved loss 0.0
Column MARRIAGE2 split has improved loss 0.0
Column MARRIAGE3 split has improved loss 0.0
Column AGE0 split has improved loss 0.0
Column AGE1 split has improved loss 0.0
Column AGE2 split has improved loss 0.0
Column AGE3 split has improved loss 0.0
Column PAY_00 split has improved loss 0.0
Column PAY_01 split has improved loss 0.0
Column PAY_02 split has improved loss 0.0
Column PAY_03 split has improved loss -7.999999999996898e-05
Column PAY_20 split has improved loss 0.0
Column PAY_21 split has improved loss 0.0
Column PAY_22 split has improved loss 0.0
Column PAY_23 split has improved loss 0.0
Column PAY_30 split has improved loss 0.0
Column PAY_31 split has improved loss 0.0
Column PAY_32 split has improved loss 0.0
Column PAY_33 split has improved loss 0.0
Column PAY_40 split has improved loss 0.0
Column PAY_41 split has improved loss 0.0
Column PAY_42 split has improved loss 0.0
Column PAY_43 split has improved loss 0.0
Column PAY_50 split has improved loss 0.0
Column PAY_51 split has improved loss 0.0
Column PAY_52 split has improved loss 0.0
Column PAY_53 split has improved loss -4.0000000000040004e-05
Column PAY_60 split has improved loss 0.0
Column PAY_61 split has improved loss 0.0
Column PAY_62 split has improved loss 0.0
Column PAY_63 split has improved loss -7.999999999996898e-05
Column BILL_AMT10 split has improved loss 0.0
Column BILL_AMT11 split has improved loss 0.0
Column BILL_AMT12 split has improved loss 0.0
Column BILL_AMT13 split has improved loss 0.0
Column BILL_AMT20 split has improved loss 0.0
Column BILL_AMT21 split has improved loss 0.0
Column BILL_AMT22 split has improved loss 0.0
Column BILL_AMT23 split has improved loss 0.0
Column BILL_AMT30 split has improved loss 0.0
Column BILL_AMT31 split has improved loss 0.0
Column BILL_AMT32 split has improved loss 0.0
Column BILL_AMT33 split has improved loss 0.0
Column BILL_AMT40 split has improved loss 0.0
Column BILL_AMT41 split has improved loss 0.0
Column BILL_AMT42 split has improved loss 0.0
Column BILL_AMT43 split has improved loss 0.0
Column BILL_AMT50 split has improved loss 0.0
Column BILL_AMT51 split has improved loss 0.0
Column BILL_AMT52 split has improved loss 0.0
Column BILL_AMT53 split has improved loss 0.0
Column BILL_AMT60 split has improved loss 0.0
Column BILL_AMT61 split has improved loss 0.0
Column BILL_AMT62 split has improved loss 0.0
Column BILL_AMT63 split has improved loss 0.0
Column PAY_AMT10 split has improved loss 0.0
Column PAY_AMT11 split has improved loss 0.0
Column PAY_AMT12 split has improved loss 0.0
Column PAY_AMT13 split has improved loss nan
Column PAY_AMT20 split has improved loss 0.0
Column PAY_AMT21 split has improved loss 0.0
Column PAY_AMT22 split has improved loss 0.0
Column PAY_AMT23 split has improved loss 0.0
Column PAY_AMT30 split has improved loss 0.0
Column PAY_AMT31 split has improved loss 0.0
Column PAY_AMT32 split has improved loss 0.0
Column PAY_AMT33 split has improved loss 0.0
Column PAY_AMT40 split has improved loss nan
Column PAY_AMT41 split has improved loss 0.0
Column PAY_AMT42 split has improved loss 0.0
Column PAY_AMT43 split has improved loss nan
Column PAY_AMT50 split has improved loss nan
Column PAY_AMT51 split has improved loss 0.0
Column PAY_AMT52 split has improved loss 0.0
Column PAY_AMT53 split has improved loss nan
Column PAY_AMT60 split has improved loss nan
Column PAY_AMT61 split has improved loss 0.0
Column PAY_AMT62 split has improved loss 0.0
Column PAY_AMT63 split has improved loss 0.0

(None, 0.77688000000000001)

In [188]:
np.mean(train_y[train_x_t['LIMIT_BAL1']])

0.16503548748599178

In [172]:
np.mean(train_y[~train_x_t['LIMIT_BAL1']])

0.29005596211795093

In [173]:
np.mean(train_y[train_x_t['AGE1']])

0.22458921041151664

In [174]:
np.mean(train_y[~train_x_t['AGE1']])

0.22132313711541882

In [236]:
#Slow but simple
class decision_tree(object):
    def fit(self, x,y,depth=5,loss=MSE, minsize = 1, quintiles = 2):
        mu = np.mean(y)
        self.f = lambda x: mu
        if(len(x)<=minsize or depth == 0):
            return 
        tr = bin_transformer(x, quintiles)
        tr_x, fns = tr.transform(x)
        split, _ = find_split(tr_x,y,loss)
        if split == None:
            return
        splitter = fns[split]
        mask = tr_x[split]
        left = decision_tree()
        right = decision_tree()
        left.fit(tr_x[~mask],y[~mask],depth-1,loss, minsize, quintiles)
        right.fit(tr_x[mask],y[mask],depth-1,loss, minsize, quintiles)
        def g(x):
            print("spliting at {}, {}".format(split,x))
            if(splitter(x)):
                print("right {}".format(right.f(x)))
                return right.f(x)
            else:
                print("right {}".format(right.f(x)))
                return left.f(x)
        self.f = g

In [237]:
dt = decision_tree()

In [238]:
dt.fit(train_x, train_y)

In [248]:
dt.f(train_x.iloc[0,:]), train_y.iloc[0]

spliting at LIMIT_BAL0, LIMIT_BAL    20000.0
SEX              2.0
EDUCATION        2.0
MARRIAGE         1.0
AGE             24.0
PAY_0            2.0
PAY_2            2.0
PAY_3           -1.0
PAY_4           -1.0
PAY_5           -2.0
PAY_6           -2.0
BILL_AMT1     3913.0
BILL_AMT2     3102.0
BILL_AMT3      689.0
BILL_AMT4        0.0
BILL_AMT5        0.0
BILL_AMT6        0.0
PAY_AMT1         0.0
PAY_AMT2       689.0
PAY_AMT3         0.0
PAY_AMT4         0.0
PAY_AMT5         0.0
PAY_AMT6         0.0
Name: 0, dtype: float64

TypeError: 'tuple' object is not callable

In [245]:
train_x.iloc[0,:]

LIMIT_BAL    20000.0
SEX              2.0
EDUCATION        2.0
MARRIAGE         1.0
AGE             24.0
PAY_0            2.0
PAY_2            2.0
PAY_3           -1.0
PAY_4           -1.0
PAY_5           -2.0
PAY_6           -2.0
BILL_AMT1     3913.0
BILL_AMT2     3102.0
BILL_AMT3      689.0
BILL_AMT4        0.0
BILL_AMT5        0.0
BILL_AMT6        0.0
PAY_AMT1         0.0
PAY_AMT2       689.0
PAY_AMT3         0.0
PAY_AMT4         0.0
PAY_AMT5         0.0
PAY_AMT6         0.0
Name: 0, dtype: float64